*{
  margin: 0;
  padding: 0;
}

:root {
  --primary: rgba(255, 255, 255, 0.102);
  --secondary: #ffffff;
  --rating: #4696f3;
  --trust: #00b67a;
  --background: #0e0c14;
  --grey: rgba(255, 255, 255, 0.5);
  --gradient: linear-gradient(
    90deg,
    #ba69cc -12.08%,
    #8b76f7 39.1%,
    #28b7d5 81.87%,
    #f2b75b 130%
  );
  --border1: linear-gradient(
    274.32deg,
    rgba(255, 255, 255, 0.5) 0.23%,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 0.25) 100%
  );
  --sliderSize: 0;
  --slideWidth: 40vw;
  --slideHeight: 30vw;
  --slideMobileWidth: 80vw;
  --slideMobileHeight: 90vw;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container{
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.review_head {
  display: flex;
  align-items: center;
}
.review_head_title {
  display: flex;
  justify-content: center;
  margin-left: 8.33%;
  width: 100%;
  font-size: 2.5rem;
}
.review_head_title h1 {
  color: var(--secondary);
}
.review_head_title #student {
  color: var(--rating);
  margin-right: 0.5rem;
}
.review_head_link {
  margin-right: 8.33%;
  width: 100%;
  text-align: right;
}
.review_head_link h4 {
  font-size: 1.5rem;
  text-align: right;
  color: var(--secondary);
  text-decoration: underline;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(var(--slideWidth) * var(--sliderSize));
  position: relative;
}

.slider__container__slides {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slider__container__slides__slide {
  background-color: var(--primary);
  width: var(--slideWidth);
  height: var(--slideHeight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.39vw;
}

#pic {
  align-self: flex-end;
  margin-right: 9%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 21%;
}

.content h1 {
  color: var(--secondary);
  font-size: 1.375rem;
  line-height: 150%;
}
.content h4 {
  color: var(--secondary);
  opacity: 0.5;
  font-size: 1rem;
  text-decoration: underline;
  margin: 0 9%;
  line-height: 150%;
}
.content p {
  color: var(--secondary);
  font-size: 18px;
  line-height: 150%;
  margin: 0 9%;
}

.content_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 9%;
}
.content_header img {
  padding: 4.17%;
  width: 1vw;
  height: 1vw;
  opacity: 0.5;
}

.content_rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 82%;
  margin: 0 9%;
}
.content_rating img {
  padding: 1%;
}
.content_certificate {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 82%;
  margin: 0 9%;
}

/* Mobile */
@media (max-width: 400px) {

  .review_head{
    height: 30%;
    align-items: flex-end;
  }
  .review_head_title{
    margin: 2% 3%;
    justify-content: flex-start;
  }

  .review_head_title h1{
    font-size: 2.5rem;
  }

  .review_head_link {
    display: none;
  }

  .slider__container {
    min-width: calc(var(--slideMobileWidth) * var(--sliderSize));
  }
  .slider__container__slides__slide {
    width: var(--slideMobileWidth);
    height: var(--slideMobileHeight);
  }

  #pic {
    align-self: flex-start;
    margin-left: 2%;
    margin-right: 0;
    width: 33px;
    height: 33px;
  }

  .content {
    gap: 0.1em;
    margin-bottom: 0;
  }

  .content h1 {
    color: var(--secondary);
    font-size: 1.375rem;
    line-height: 100%;
  }

  .content_header {
    gap: 11px;
    margin: 0;
  }

  .content_header img {
    padding: 0;
    width: 22px;
    height: 22px;
    opacity: 0.5;
  }

  .content_rating {
    margin: 3% 9%;
  }
}
