:root {
  --primary: rgba(255, 255, 255, 0.102);
  --secondary: #ffffff;
  --rating: #4696f3;
  --trust: #00b67a;
  --background: #0e0c14;
  --grey: rgba(255, 255, 255, 0.5);
  --gradient: linear-gradient(
    90deg,
    #ba69cc -12.08%,
    #8b76f7 39.1%,
    #28b7d5 81.87%,
    #f2b75b 130%
  );
  --border1: linear-gradient(
    274.32deg,
    rgba(255, 255, 255, 0.5) 0.23%,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 0.25) 100%
  );
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.review_head {
  display: flex;
  align-items: center;
}
.review_head_title {
  display: flex;
  justify-content: center;
  margin-left: 8.33%;
  width: 100%;
  font-size: 2.5rem;
}
.review_head_title h1 {
  color: var(--secondary);
}
.review_head_title #student {
  color: var(--rating);
  margin-right: 0.5rem;
}
.review_head_link {
  margin-right: 8.33%;
  width: 100%;
  text-align: right;
}
.review_head_link h4 {
  font-size: 1.5rem;
  text-align: right;
  color: var(--secondary);
  text-decoration: underline;
}

.slider__container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200vw;
  width: 50vh;
  width: 100vw;
  cursor: grab;
  position: relative;
}

.slides__container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slide {
  background-color: var(--primary);
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.39vw;
}

.slide:hover {
    
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

#pic {
  align-self: flex-end;
  margin-right: 9%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 21%;
}

.content h1 {
  color: var(--secondary);
  font-size: 1.375rem;
  line-height: 150%;
}
.content h4 {
  color: var(--secondary);
  opacity: 0.5;
  font-size: 1rem;
  text-decoration: underline;
  margin: 0 9%;
  line-height: 150%;
}
.content p {
  color: var(--secondary);
  font-size: 18px;
  line-height: 150%;
  margin: 0 9%;
}

.content_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 9%;
}
.content_header img {
  padding: 4.17%;
  width: 1vw;
  height: 1vw;
  opacity: 0.5;
}

.content_rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 82%;
  margin: 0 9%;
}
.content_rating img {
  padding: 1%;
}
.content_certificate {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 82%;
  margin: 0 9%;
}
